@using System.Security.Claims
@using VideoGamesShop.Core.Models
@using VideoGamesShop.Core.Models.Game
@using VideoGamesShop.Extensions
@model IEnumerable<GameListViewModel>
@{
    ViewData["Title"] = "Games";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<style>
    h1 {
        font-size: 60px;
    }
</style>

<div class="small-container">
    <center><b><h1>Game Store</h1></b></center>
    <br />
    <br />
    <div class="row">
        @foreach (var game in @Model)
        {
            <div class="col-2">
                <div class="card">
                    <img src="@game.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <center><h5 class="card-title">@game.Title</h5></center>
                        <center><p class="card-text">@game.Genre</p></center>
                        <center><p class="card-text">$@game.Price</p></center>
                        <br>
                        <center>
                            <a asp-controller="Store" asp-action="GameDetails" asp-route-gameId="@game.Id" class="btn btn-secondary"><i class="bi bi-info-circle me-1"></i></a>
                            <a asp-controller="Store" asp-action="AddToCart" asp-route-userId="@User.Id()" asp-route-gameId="@game.Id" class="btn btn-primary"><center><i class="bi bi-cart2 me-1"></i></center></a>
                            <a asp-controller="Store" asp-action="AddToWishlist" asp-route-userId="@User.Id()" asp-route-gameId="@game.Id" class="btn btn-danger"><center><i class="bi bi-heart me-1"></i></center></a>
                        </center>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_pager" model="@pager" />
